body{
    
    background-image: url('three-colors-abtract-4k-u4.jpg'); 
    background-size: cover; }

.container{
    background-color: white;
    opacity: 70%;
    display: inline-block;
    width: 700px;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    border-radius: 10px;
}

#partefissa{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
h1{
    text-align: center;
}


button{
    border-radius: 10px;
    background-color: blue;
    font-size: 1.5em;

}